.navbarMenu{
    position: fixed;
    inset-block: 0;
    left: -100%;
    padding: 60x 30px;
    width: 100%;
    background-color: var(--container-color);
    background-color: white;
    transition: all 0.5s cubic-bezier(0.075, 0.2, 0.05, 1);
    z-index: 100;
}
.navbarLink{
    display: flex ;
    align-items: center;
    column-gap: 24px;
    border-bottom: 1px solid var(--border-color);
    padding-block: 14px;

}
.show-menu{
    left: 0;
}

.navbarIcon ,.navbarName{
color: var(--title-color);
font-size: 24px;

}
.navbarName{
    font-weight: var(--weight-500);

}
.activeNav .navbarIcon,
.activeNav .navbarName{
    color: black;
}

.nav__toggle{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--container-color);
    padding: 12px 10px;
    z-index: 100;
}

.nav__toggle span{
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--title-color);
    margin-bottom: 5px;
}


@media screen and (min-width : 1024px) {
    .navbarMenu{
        all: unset;

    }
    .nav__toggle{
        display: none;

    }
    .navbar{
        position: fixed;
        inset-block: 0;
        right: 30px;
        display: flex;
        align-items: center;
        z-index: 100;
    }
    .navbarItem{
        margin-block: 20px;

    }
    .navbarLink{
        padding: 0;
        border-bottom:none;
        background-color: var(--container-color);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;
    }
    .navbarName{
        position: absolute;
        top: 0;
        right: 100%;
        background-color: var(--first-color);
        height: 100%;
        line-height: 50px;
        padding-inline: 30px 25px;
        border-radius: 30px;
        font-size: var(--small-font-size);
        color: var(--text-white);
        opacity: 0;
        visibility: hidden;
    }
    .navbarIcon{
        color: var(--text-white);
        font-size: 20px;
        margin-inline: auto;
        z-index: 1000;

    }
    .navbarLink:hover , .activeNav{
        background-color: var(--first-color);
        
    }
    .navbarLink:hover .navbarName{
        right: 27px;
        color: var(--text-white);
        opacity: 1;
        visibility: visible;
        border-radius: 30px 0 0 30px;
    }
    .navbarLink:hover .navbarIcon,
    .activeNav .navbarIcon{
        color: var(--text-white);
    }
    
}