:root {
    --first-color: rgb(96, 94, 94);
    --title-color: hsl(0, 0%, 40%);
    --text-color: hsl(0, 0%, 50%);
    --body-color: hsl(0, 0%, 100%);
    --container-color: hsl(0, 7%, 70%);
    --border-color: hsl(0, 0%, 87%);
    --text-white: #fff;


    --body-font: 'Open Sans', sans-serif;
    --second-font: 'Poppins', sans-serif;


    --big-font-size: 56px;
    --h1-font-size: 50px;
    --h2-font-size: 32px;
    --h3-font-size: 24px;
    --large-font-size: 18px;
    --normal-font-size: 16px;
    --small-font-size: 15px;
    --smaller-font-size: 14px;
    --tiny-font-size: 12px;



    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;
    --weight-800: 800;



}


/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}


/*  ResponsiveTypography */
@media screen and (max-width:1200px) {
    :root {
        --big-font-size: 36px;
        --h1-font-size: 32px;
        --h2-font-size: 24px;
        --h3-font-size: 20px;
        --large-font-size: 16px;
        --normal-font-size: 15px;
        --small-font-size: 14px;
        --smaller-font-size: 13px;
        --tiny-font-size: 11px;

    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-500);
}

body {
    background-color: var(--body-color);
    columns: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-family: var(--second-font);
    font-weight: var(--weight-700);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input,
textarea {
    background-color: transparent;
    border: none;
    outline: none;

}

img {
    max-width: 100%;

}

.container {
    width: 80%;
    max-width: 1140px;
    margin-inline: auto;
}


.grid {
    display: grid;
    gap: 30px;
}

.section {
    padding-block: 70px;

}

.sectionTitle {
    font-size: var(--big-font-size);
    font-weight: var(--weight-800);
    text-align: center;
    margin-bottom: 70px;
}

.button {
    display: inline-block;
    color: var(--title-color);
    border: 1px solid var(--first-color);
    padding: 15px 70px 15px 35px;
    border-radius: 35px;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-out;
    margin: 20px;
    cursor: pointer;

}

.button:hover {
    color: var(--text-white);

}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 35px;
    background-color: var(--first-color);
    transform: translateX(100%);
    z-index: -1;
    transition: all 0.3s ease-out;

}

.button:hover::before {
    transform: translateX(0);
}

.buttonIcon {
    background-color: var(--first-color);
    position: absolute;
    inset-block: -2px;
    right: 0;
    width: 50px;
    border-radius: 50%;
    color: var(--text-white);
    font-size: var(--large-font-size);
    text-align: center;
    line-height: 60px;

}

@media screen and (max-width : 1400px) {
    .container {
        max-width: calc(100% -180px);
    }

}






@media screen and (max-width : 1200px) {
    .grid {
        gap: 20px;
    }


    .homeData {
        padding-right: 40px;

    }

    .homeTitle {
        font-size: var(--big-font-size);


    }

    .homeDescription {
        font-size: var(--small-font-size);
    }

    .statsTitle {
        padding-left: 35px;
    }

    .statsTitle::before {
        width: 22px;

    }

    .skillsContainer {
        row-gap: 32px;
    }

    .progressCircle {
        width: 100px;
        height: 100px;
    }

    .skillsTitle {

        margin-top: 20px;
    }

    .resumeIcon {
        width: 36px;
        height: 36px;
        line-height: 38px;
    }

    .resumeItem {
        padding-left: 56px;
    }

    .portfolioModalContent {
        max-width: 600px;

    }

    .modalClose {
        width: 40px;
        height: 40px;
    }

    .formInputGroup {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;


    }

    .formInputGroup .formInputDiv:last-child {
        grid-column: 1/-1;

    }

    .formInputDiv {
        margin-bottom: 24px;

    }


}



@media screen and (max-width : 1024px) {

    .container {
        max-width: 720px;
    }

    .home {
        padding: 20px;
        grid-template-columns: 5fr 7fr;


    }

    .homeData {
        padding-right: 0;
    }

    .section {
        padding-block: 50px;

    }

    .sectionTitle {
        margin-bottom: 40px;

    }

    .aboutContainer,
    .resumeContainer,
    .contactContainer {
        grid-template-columns: 1fr;

    }

    .aboutContainer {
        row-gap: 40px;
    }

    .subtitleCenter {
        margin-bottom: 45px;

    }

    .skillsContainer {
        grid-template-columns: repeat(3, 1fr);

    }

    .resumeContainer {
        row-gap: 45px;
    }

    .resumeItem:not(:last-child) {
        margin-bottom: 45px;
    }

    .separator {
        margin: 65px auto 50px;
    }

    /*  */
    .portfolioContainer {
        grid-template-columns: repeat(2, 1fr);

    }

    .contactContainer {
        row-gap: 48px;

    }


}


@media screen and (max-width : 768px) {

    .home {
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 10px;
    }


    .colorBlock {
        display: none;
    }

    .homeImg {
        width: 270px;
        height: 270px;
        border-radius: 50%;
        margin-top: auto;
    }

    .homeContent {
        max-width: 500px;
        text-align: center;
        margin-bottom: auto;

    }

    .homeTitle {
        padding-left: 0;
    }

    .homeTitle::before {
        all: unset;
    }

    .homeTitle span {
        display: block;
    }

    .container {
        max-width: 540px;
    }

    .portfolioModalContent {
        padding: 25px 20px;

    }

    .modalClose {
        top: -9%;
        right: 0;
    }
}




@media screen and (max-width : 576px) {

    .nav__toggle {
        top: 20px;
        right: 15px;

    }

    .navbarLink {
        column-gap: 20px;

    }

    .navbarIcon,
    .navbarName {
        font-size: var(--h3-font-size);
    }

    .skillsContainer{
        grid-template-columns: repeat(2,1fr);

    }

    .portfolioContainer{
        grid-template-columns: 1fr;

    }

    .modalList{
        grid-template-columns: 1fr;
            }

    .modalImg{
        height: 300px;
    }

    .formInputGroup{
        grid-template-columns: 1fr;

    }

    .aboutContainer{
        grid-template-columns: 1fr;
    }

   
}



@media screen and (max-width : 450px) {
    /* .homeImg{
        display: none;
    } */

    .homeContent{
        margin-block: auto;
        /* text-align: left; */

    }
    .homeTitle{
        font-size: var(--h1-font-size);

    }

    .homeDescription{
        text-align: justify;

    }

    .infoTitle{
        display: block;
        margin-bottom: 4px;

    }
    .statsBox
    {
        padding: 15px 15px 25px 20px;
    }
}

@media screen and (max-width : 350px) {

.homeTitle span{
    display: inline;
}

.stats{
    grid-template-columns: 1fr;

}

.infoList{
    grid-template-columns: 1fr;
}
}
